<div style="padding: 10%">
  <h1>Маршрутизация в Angular 8</h1>

  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link"
         routerLink="home"
         routerLinkActive="active">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"
         routerLink="lessons"
         routerLinkActive="active">Lessons</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"
         routerLink="users"
         routerLinkActive="active">Users</a>
    </li>
  </ul>
  <p>routeroutlet start</p>
  <router-outlet></router-outlet>
  <p>routeroutlet end</p>
</div>
